# Node.js specific
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 

# Database
*.sqlite
*.sqlite3
dump.sql

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Static analysis tools
coverage/
.vscode/

# IDE-specific
*.idea/
*.swp
*.swo

# Miscellaneous
config/local.js
.env.*
.env.local
.env.production
.env.test
